
* {
    margin: 0px;
    padding: 0px;
}

nav {
    height: 100px;
    width: 100%;
    background-color: white;
    border-bottom: 2px solid #cccccc;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
}

.container1 { 
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 400px;
    height: 100px;
    width: 960px;
}

body {
    position: relative;
    background-image: url("assets/images/morepattern.jpg");
    background-size: 400px;
    background-attachment: fixed;
}



.container2 {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    margin-left: 400px;
    width: 960px;
    height: 400px;
    margin-top: 40px;
    margin-bottom: 70px;
    background-color: #ffffff;
    border: 2px solid #dddddd;
    color: #777777;
}

#container4 { 
    height: 1000px;
    positin: relative;
}


h1 {
    align-self: flex-end;
    align-content: flex-end; 
    margin-bottom: 0em;
    padding: 0.5em;
    color: #ffffff;
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    margin-right:480px;
    margin-left: 0px;
    width:  200px;
    height: 50px;
}

p {
    align-self: flex-end;
    align-content: flex-end; 
    margin-bottom: 0em;
    padding: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #777777;
    margin-right: 0px;    
}

.about { 
    border-right: solid #dddddd;
}

.contact { 
    border-left: solid #dddddd;
}

.aboutme { 
    align-self: flex-start;
    margin-top: 20px;
    margin-left: 15px;
    flex-wrap: wrap;
}


h2 { 
    color: #4aaaa5;
    width: 900px;
    height: 50px;
    margin-top: 30px;
    margin-left: 30px;
    border-bottom: 5em;
    border-bottom: solid #dddddd;
}

#me {
    padding-left: 0%;
    padding-top: 0%;
    margin-left: 30px;
    margin-top: 30px;
    width: 200px;
    height: 200px;
}

footer { 
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.footer { 
    color: white;
}

.footercontainer { 
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-left: 400px;
    width: 960px;
    height: 50px;
}

img { 
    height: 280px;
    width: auto;
    margin-left: 30px;
    margin-top: 30px;
}


.container3 .btn {
    position: absolute;
}


#img3, #img6 { 
    visibility: hidden;
}

